In [1]:
# Mounting Google Drive
from google.colab import drive
from os.path import join
ROOT = '/content/drive'
drive.mount(ROOT)

Mounted at /content/drive

In [2]:
# Copy data to local runtime
PROJ = 'Shareddrives/Deep Learning'
PROJ_PATH = join(ROOT, PROJ)
!rsync -aP "{PROJ_PATH}"/* ./

sending incremental file list
rsync: send_files failed to open "/content/drive/Shareddrives/Deep Learning/A1.gdoc": Operation not supported (95)
Assignment 1.ipynb
         27,264 100%    0.00kB/s    0:00:00 (xfr#2, to-chk=9/11)
Assignment01Description.pdf
        175,726 100%  341.17kB/s    0:00:00 (xfr#3, to-chk=8/11)
Students/
Students/predictor.py
          1,755 100%    1.93kB/s    0:00:00 (xfr#4, to-chk=5/11)
Students/simulator.py
          3,726 100%    2.95kB/s    0:00:01 (xfr#5, to-chk=4/11)
data/
data/info.txt
        117,468 100%   80.78MB/s    0:00:00 (xfr#6, to-chk=3/11)
data/market_analysis.txt
            510 100%    1.15kB/s    0:00:00 (xfr#7, to-chk=2/11)
data/market_segments.txt
             16 100%    0.02kB/s    0:00:00 (xfr#8, to-chk=1/11)
data/stock_prices.txt
         57,228 100%   49.63kB/s    0:00:01 (xfr#9, to-chk=0/11)
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1196) [sender=3.1.2]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Import necessary libraries
import torch
import torch.nn as nn
import pandas as pd
from Students import simulator
!ls

 Assignment01Description.pdf   data    sample_data
'Assignment 1.ipynb'	       drive   Students

In [28]:

labels_market_segments = ['company', 'segment']
market_segments = []
simulator.read_market_segments(market_segments)

labels_stock_prices = ['company', 'year', 'day', 'quarter', 'stock_price']
stock_prices = []
simulator.read_stock_prices(stock_prices)

labels_market_analysis = ['segment', 'year', 'quarter', 'trend']
market_analysis = []
simulator.read_market_analysis(market_analysis)

labels_info=['company', 'year', 'day','quarter','expert1_prediction','expert2_prediction','sentiment_analysis','m1','m2','m3','m4']
info=[]
simulator.read_info(info)

In [29]:
# Pandas, importing the data from text files
df_market_segments = pd.DataFrame(market_segments, columns=labels_market_segments)
df_stock_prices = pd.DataFrame(stock_prices, columns=labels_stock_prices)
df_market_analysis = pd.DataFrame(market_analysis, columns=labels_market_analysis)
df_info = pd.DataFrame(info, columns=labels_info)

In [32]:
df_market_segments.head()

   company segment
0        0      IT
1        1     BIO
2        2      IT

In [30]:
df_stock_prices.head()

   company  year  day  quarter  stock_price
0        0  2017    3        0        102.2
1        0  2017    4        0        102.2
2        0  2017    5        0        102.2
3        0  2017    6        0        102.2
4        0  2017    9        0        102.2

In [34]:
df_market_analysis.head()

  segment  year  quarter  trend
0      IT  2016        3      0
1      IT  2017        0     -1
2      IT  2017        1      0
3      IT  2017        2      1
4      IT  2017        3      1

In [31]:
df_info.head()

,company,year,day,quarter,expert1_prediction,expert2_prediction,sentiment_analysis,m1,m2,m3,m4
0,0,2017,3,0,0,0,10,6.3,1824.0,-1.0,0
1,0,2017,4,0,0,1,10,5.1,6912.0,-0.9,0
2,0,2017,5,0,0,1,10,6.6,8928.0,0.3,0
3,0,2017,6,0,0,1,10,7.8,6924.0,0.0,0
4,0,2017,9,0,0,1,10,-0.9,5635.0,0.9,0