In [1]:
# Mounting Google Drive
from google.colab import drive
from os.path import join
ROOT = '/content/drive'
drive.mount(ROOT)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Copy data to local runtime
PROJ = 'Shareddrives/Deep Learning'
PROJ_PATH = join(ROOT, PROJ)
!rsync -aP "{PROJ_PATH}"/* ./

sending incremental file list
rsync: send_files failed to open "/content/drive/Shareddrives/Deep Learning/A1.gdoc": Operation not supported (95)
Assignment 1.ipynb
         27,366 100%    0.00kB/s    0:00:00 (xfr#2, to-chk=9/11)
Students/
rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1196) [sender=3.1.2]

In [3]:
# Import necessary libraries
import torch
import torch.nn as nn
import pandas as pd
from Students import simulator
!ls

 Assignment01Description.pdf   data    sample_data
'Assignment 1.ipynb'	       drive   Students

In [4]:

labels_market_segments = ['company', 'segment']
market_segments = []
simulator.read_market_segments(market_segments)

labels_stock_prices = ['company', 'year', 'day', 'quarter', 'stock_price']
stock_prices = []
simulator.read_stock_prices(stock_prices)

labels_market_analysis = ['segment', 'year', 'quarter', 'trend']
market_analysis = []
simulator.read_market_analysis(market_analysis)

labels_info=['company', 'year', 'day','quarter','expert1_prediction','expert2_prediction','sentiment_analysis','m1','m2','m3','m4']
info=[]
simulator.read_info(info)

In [5]:
# Pandas, importing the data from text files
df_market_segments = pd.DataFrame(market_segments, columns=labels_market_segments)
df_stock_prices = pd.DataFrame(stock_prices, columns=labels_stock_prices)
df_market_analysis = pd.DataFrame(market_analysis, columns=labels_market_analysis)
df_info = pd.DataFrame(info, columns=labels_info)

In [6]:
df_stock_prices.head()

   company  year  day  quarter  stock_price
0        0  2017    3        0        102.2
1        0  2017    4        0        102.2
2        0  2017    5        0        102.2
3        0  2017    6        0        102.2
4        0  2017    9        0        102.2

In [7]:
df_market_segments.head()

   company segment
0        0      IT
1        1     BIO
2        2      IT

In [8]:
df_market_analysis.head()

  segment  year  quarter  trend
0      IT  2016        3      0
1      IT  2017        0     -1
2      IT  2017        1      0
3      IT  2017        2      1
4      IT  2017        3      1

In [9]:
df_info.head()

,company,year,day,quarter,expert1_prediction,expert2_prediction,sentiment_analysis,m1,m2,m3,m4
0,0,2017,3,0,0,0,10,6.3,1824.0,-1.0,0
1,0,2017,4,0,0,1,10,5.1,6912.0,-0.9,0
2,0,2017,5,0,0,1,10,6.6,8928.0,0.3,0
3,0,2017,6,0,0,1,10,7.8,6924.0,0.0,0
4,0,2017,9,0,0,1,10,-0.9,5635.0,0.9,0

In [11]:
# Combine data from stock prices with the market segments data, merging on company
df_prices_segments = df_stock_prices.merge(df_market_segments, on="company")
print(len(df_prices_segments))
df_prices_segments.head()

3012

   company  year  day  quarter  stock_price segment
0        0  2017    3        0        102.2      IT
1        0  2017    4        0        102.2      IT
2        0  2017    5        0        102.2      IT
3        0  2017    6        0        102.2      IT
4        0  2017    9        0        102.2      IT

In [12]:
# Combine previous data with the market analysys data, merging on segment, year and quarter
df_prices_segments_market = df_prices_segments.merge(df_market_analysis, on=['segment','year','quarter'])
print(len(df_prices_segments_market))
df_prices_segments_market.head()

3012

   company  year  day  quarter  stock_price segment  trend
0        0  2017    3        0        102.2      IT     -1
1        0  2017    4        0        102.2      IT     -1
2        0  2017    5        0        102.2      IT     -1
3        0  2017    6        0        102.2      IT     -1
4        0  2017    9        0        102.2      IT     -1

In [15]:
# Combine previous data with the info data, merging on company, year, day and quarter
# This is a final dataframe containing all the data from the four separate files
df_prices_segments_market_info = df_prices_segments_market.merge(df_info, on=['company','year','day','quarter'])
print(len(df_prices_segments_market_info))
df_prices_segments_market_info.head()

3012

,company,year,day,quarter,stock_price,segment,trend,expert1_prediction,expert2_prediction,sentiment_analysis,m1,m2,m3,m4
0,0,2017,3,0,102.2,IT,-1,0,0,10,6.3,1824.0,-1.0,0
1,0,2017,4,0,102.2,IT,-1,0,1,10,5.1,6912.0,-0.9,0
2,0,2017,5,0,102.2,IT,-1,0,1,10,6.6,8928.0,0.3,0
3,0,2017,6,0,102.2,IT,-1,0,1,10,7.8,6924.0,0.0,0
4,0,2017,9,0,102.2,IT,-1,0,1,10,-0.9,5635.0,0.9,0